parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: max
  paths:
    - ./src/main/php
  excludePaths:
      # Those files contain explicit wrong doc comments for test purposes.
      - src/test/php/helper
  scanDirectories:
      - src/test/php/helper
  ignoreErrors:
    # method made public with anonymous class extending from bovigo\callmap\verification\Verification
    -
          message: '#Call to protected method evaluateWithPhpUnit\(\) of class bovigo\\callmap\\verification\\Verification#'
          path: src/test/php/VerificationWithPhpUnitTest.php

    
